/* Typography */
.section-exercises h3 {
    margin-bottom: 15px;
}

.exercise-form p {
    font-size: 0.8rem;
}

@media screen and (min-width: 1100px) {
    .exercise-form p {
        font-size: 1rem;
    }
}

/* Input styles */
.input-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.workout-form-input input {
    font-size: 1rem;
    width: 100%;
    border: none;
    border-bottom: 1px solid;
    margin-bottom: 20px;
    padding: 5px ;
}

@media screen and (min-width: 1100px) {
    .section-workout-details {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .workout-form-input {
        width: 70%;
    }
}

/* Exercises section */
.section-exercises {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exercise-list {
    width: 100%;
    max-width: 400px;
}

.exercise-form {
    color: var(--color-5);
    margin: 0 0 15px;
    padding: 15px 20px;
    border-radius: 20px;
    background: var(--color-6);
    position: relative;
    display: flex;
    flex-direction: column;
}

.exercise-form input {
    font-size: 1rem;
    color: white;
    background: none;
    padding: 5px 0 2px;
    border: none;
    border-bottom: 1px solid;
}

.exercise-title {
    margin-bottom: 15px;
}

.exercise-numbers {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.exercise-numbers input {
    max-width: 40px;
    text-align: center;
}

.exercise-container {
    margin: 0 10px 10px;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1100px){
    .exercise-list {
        max-width: 600px;
    }

    .exercise-form input {
        font-size: 1.1rem;
    }

    .exercise-numbers {
        justify-content: space-around;
    }

    .exercise-form {
        height: 160px;
        margin-bottom: 30px;
    }

    .exercise-numbers input {
        max-width: 60px;
        text-align: center;
    }
}

/* Button styles */
.btn-delete-exercise {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    position: absolute;
    right: 20px;
}

.btn-add-exercise {
    background: var(--color-1);
    color: white;
    -webkit-box-shadow: 0 4px 8px 0 var(--color-1);
    box-shadow: 0 4px 8px 0 var(--color-1);
    font-size: 2rem;
    font-weight: bold;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
}

/* Error Styles */
.error input {
    border: 2px solid #d01e1e;
}

.error-message {
    margin-top: 5px;
    color: red;
    font-size: 0.8em;
}
