.header-home {
    width: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.header-home-bg {
    height: 410px;
    width: 574px;
    border-radius: 50%;
    background: var(--color-1);
    position: absolute;
    top: -162px;
    left: -37px;
    z-index: -1;
}

.header-greeting {
    width: 100%;
    padding: 30px 30px 20px;
    color: var(--color-4);
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
}

.profile-pic {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
}

.position-fix-home {
    height: 250px;
}

h2.home-title {
    margin-left: 30px;
}

.workout-card {
    margin: 10px 0 30px;
    padding: 20px 30px;
    border-radius: 20px;
    color: var(--color-4);
    background: var(--color-2);
    position: relative;
    -webkit-box-shadow: 0 4px 8px 0 var(--color-1);
    box-shadow: 0 4px 8px 0 var(--color-1);
}

.workout-card h3 {
    font-weight: 500;
}

.workout-card-head p {
    font-size: .7rem;
    color: var(--color-5);
}

.workout-card-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.workout-card-body p:first-child {
    margin-bottom: 7px;
}

.workout-card .btn-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.icon-bottom-right {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    right: 15px;
    -webkit-box-shadow: 0 4px 8px 0 var(--color-1);
    box-shadow: 0 4px 8px 0 var(--color-1);
}

.btn-details {
    background: var(--color-1);
    border: none;
}

.btn-add-workout {
    font-size: 2.5rem;
    font-weight: bold;
}