.profile-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-page .profile-pic-lg {
    margin: 20px 0 40px;
}

.profile-pic-lg {
    height: 200px;
    width: 200px;
    background: yellow;
    border-radius: 50%;
}

.profile-page h2 {
    margin-bottom: 20px;
}

.btn-logout {
    align-self: flex-end;
}
