.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-page .profile-pic-lg {
    margin: 20px 0 40px;
}

.profile-pic-lg {
    height: 280px;
    width: 280px;
    border-radius: 50%;
}

.profile-page-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-page h2 {
    margin-bottom: 20px;
}

.btn-logout {
    align-self: flex-end;
}

@media screen and (min-width: 750px) {
    .profile-pic-lg {
        height: 390px;
        width: 390px;
        border-radius: 50%;
    }
}

@media screen and (min-width: 1100px){
    .btn-logout {
        position: absolute;
        top: 30px;
        right: 100px;
    }

    .profile-page {
        display: flex;
        flex-direction: row;
        margin: 0 30px;
    }

    .profile-page .profile-pic-lg {
        margin-right: 100px;
    }

    .profile-page-details {
        margin-top: -100px;
        align-items: flex-start;
    }
}
