/* Generell Styles */
.start-main-container {
    background: var(--color-1);
}

.main-start {
    margin-top: 65px;
}

/* Header Styles */
.header-start {
    width: 100%;
    height: 65px;
    padding: 0 30px;
    border-bottom: 2px solid white;
    background: var(--color-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
}

.logo {
    width: 100px;
}

/* Hero Styles */
.banner {
    position: relative;
    z-index: 0;
    width: 100%;
    height: calc(100svh - 65px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.6rem;
}

.banner-video-section {
    position: relative;
    height: 100%;
}

.banner-video-portrait,
.banner-video-landscape {
    object-fit: cover;
    object-position: center;
}

.banner-video-portrait {
    height: inherit;
}

.banner-video-landscape{
    display: none;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.5);
}

.banner-text-section {
    z-index: 200;
    position: absolute;
}

.banner-text {
    font-size: 2rem;
}

@media screen and (min-width: 500px){
    .banner-video-portrait {
        display: none;
    }

    .banner-video-landscape {
        display: block;
    }

    .get-started {
        font-size: 1.2rem;
        padding: 20px 30px;
    }
}

@media screen and (min-width: 1600px){
    .banner-video-section {
        width: 100%;
    }

    .banner-video-landscape {
        width: inherit;
    }
}

/* Button Styles */
.header-btn-login {
    padding: 10px 15px;
    border-radius: 5px;
    background: none;
    color: white;
    border: 1px solid white;
}

.get-started {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    width: 100%;
    padding: 10px 20px;
    margin: 30px auto;
    border: none;
    border-radius: 5px;
    color: var(--color-1);
    background: white;
}

@media screen and (min-width: 500px){
    .get-started {
        font-size: 1.2rem;
        padding: 20px 30px;
    }
}