/* General styles */
:root {
    --color-1: hsla(292, 69%, 15%, 100%);
    --color-2: hsla(292, 50%, 38%, 100%);
    --color-3: hsla(0, 0%, 22%, 100%);
    --color-4: hsla(0, 0%, 90%, 100%);
    --color-5: hsla(0, 0%, 90%, 60%);
    --color-6: hsla(292,69%,16%, 74%);

    --pages-header-height: 140px;
    --pages-footer-height: 100px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
    font-family: sans-serif;
    color: var(--color-3);
}

/* Layout styles */
.main-wrapper {
    padding: 30px;
}

.container {
    width: 100%;
}

.position-fix-bottom {
    height: 80px;
}

/* Footer styles */
.footer-single-child {
    width: 100%;
    height: 100px;
    background: hsla(0, 0%, 100%, 0.5);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    position: fixed;
    bottom: 0;
    left: 0;
}

/* Typography */
h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

h3 {
    font-size: 1.1rem;
}

.bold {
    font-weight: bold;
}

@media screen and (min-width: 750px){
    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1.1rem;
    }
}

/* Button styles */
.btn-regular {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    background: var(--color-1);
    color: white;
    -webkit-box-shadow: 0 4px 8px 0 var(--color-1);
    box-shadow: 0 4px 8px 0 var(--color-1);
}

.btn-top-right-fixed {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: fixed;
    top: 45px;
    right: 10px;
}

.btn-bottom-center-fixed {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    left: calc(50vw - 35px);
    font-size: 2.5rem;
    font-weight: bold;
}

/* Icon styles */
.icon {
    border: none;
    background: none;
    z-index: 2;
}